section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 in !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    padding: 30px;
    width: 1200px;
    height: 467px;  
}

.nav-manual, .nav-auto {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 35%;
    justify-content: center;
    margin-top: 515px;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ED7E7E;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;

}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ED7E7E;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #ED7E7E;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #ED7E7E;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #ED7E7E;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: #ED7E7E;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

